streamlit
python-dotenv

openai
google-generativeai

langchain
langchain-openai
langchain-community
langchain-google-genai

faiss-cpu

pypdf

pandas
openpyxl

python-docx

tiktoken

pillow

requests

GitPython

youtube-transcript-api

sentence-transformers

unstructured
python-docx

torch
torchvision
transformers